{{ content_for_index }}
<div class="line-btn">
    <a href="https://cdn.shopify.com/s/files/1/0571/3959/3415/t/10/assets/teaser.html">
      <img src="https://cdn.shopify.com/s/files/1/0571/3959/3415/files/Icon_awesome-line.png?v=1622445234">  公式LINEに登録し <div>お得にゲット</div>
  </a>
  </div>